<%- include('../common/header') %>
<div class="container wide">
  <form action="/post/create" method="post">

    <div class="form-group">
      <label for="title">タイトル</label>
      <input type="text" id="title" name="title" required>
    </div>

    <div class="form-group">
      <label for="content">コンテンツ</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>

    <button class="post-button" type="submit">新規作成</button>

  </form>
</div>
<%- include('../common/footer') %>