ul, body{
  margin: 0;
  padding: 0;
}

.header-contents{
  display: flex;
  justify-content: right;
  background-color: black;
  padding-right: 5%;
}

.header-contents li{
  color: white;
  list-style: none;
  margin-left: 10px;
  padding: 10px;
}

.logo{
  color: white;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box
}

button {
  width: 100%;
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
