<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <header>
    <ul class="header-contents">
      <a href="/post/posts"><li>みんなの投稿</li></a>
      <a href="/post/create"><li>投稿作成</li></a>
      <% if (loginUser) { %>
        <li class="user-name"><%= loginUser %></li>
        <form action="/auth/logout" method="post">
          <input type="submit" value="logout">
        </form>
      <% } else { %>
        <a href="/auth/login"><li>Login</li></a>
        <a href="/auth/signup"><li>Register</li></a>
      <% } %>
    </ul>
  </header>