<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <header>
    <ul class="header-contents">
      <a href="/post"><li>みんなの投稿</li></a>
      <a href="/post/create"><li>投稿作成</li></a>
      <% if (loginUser) { %>
        <div class="login-now">
          <li class="user-name"><%= loginUser %><span id="dropdown-button">▼</span></li>
          <div id="dropdown-content">
            <form action="/auth/logout" method="post">
              <input type="submit" value="Sign Out">
            </form>
          </div>
        </div>
      <% } else { %>
        <a href="/auth/login"><li>Login</li></a>
        <a href="/auth/signup"><li>Register</li></a>
      <% } %>
    </ul>
  </header>